{% extends 'base.html' %}

{%block title %} Comprar product.name -PanemaShop{% endblock%}

{%block content %}


<div class="container">
    <div class="row">
        <center>
            {%if message %}
                <a class="alert alert-danger">{{message}}</a>
            {%endif%}
        </center>
        <div class="col-sm-12 col-md-12" style="max-width:800px;">
            <form method="post" class="form">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Finalizar compra" class="btn btn-success">
            </form>
        </div>
    </div>
</div>


{%endblock%}
