{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{%block title %} Comprar product.name -PanemaShop{% endblock%}

{%block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 text-center">
            <div>
                <h1> Produto: {{order.product.name}} </h1>
                <br>
                <br>
                <ul class="list-group">
                    <li class="list-group-item"> Serviço: #{{order.id}} </li>
                    <li class="list-group-item"> Valor: R${{order.total}} </li>
                    <li class="list-group-item"> Comprador:{{order.user.first_name}} {{order.user.last_name}} </li>
                    <li class="list-group-item"> Status: {{order.status}} </li>
                    <li class="list-group-item"> Entrega: {{order.shipment}} </li>
                    <li class="list-group-item">
                        <form method="post">
                            {%csrf_token%}
                            {{form.as_p}}
                            <input  type="submit" value="Alterar" class="btn btn-success"/>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


{%endblock%}
